<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<p>
  <strong>Image:</strong>
  <%= @task.image %>
</p>

<%= link_to 'Back', assingments_path, class: 'btn-warning' %>
